<%- include("header") %>

   <h2>This is the about page</h2>
   <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas debitis perferendis aspernatur qui non officia eos, inventore placeat dolores. Dolorem quae culpa repellat reprehenderit alias perferendis, nobis quia ab totam?
      Sint adipisci incidunt quam consequuntur iste in doloremque debitis nihil dignissimos laborum perferendis, ratione repellendus at pariatur natus recusandae quis. Modi placeat voluptatum voluptatem reiciendis veniam, dignissimos nulla est consectetur.
      Dicta dolorum recusandae vel vitae officia facere quibusdam ex quidem voluptatibus quisquam, cumque id! Provident earum repellat fugiat similique deserunt? Reprehenderit, consequatur eveniet natus sapiente libero voluptatum dolorem maxime ea!
      Sed error ad facere perspiciatis. Rerum, tempore saepe dignissimos voluptatem qui dolores similique ipsam totam eveniet iusto ipsum est ullam voluptatum nulla sunt! Quaerat veritatis repellat tempore minima officia praesentium?
      Iusto voluptates cum aspernatur cupiditate! Sequi recusandae, expedita maxime aut architecto id dolorem. Quam, fugiat? Esse hic fuga at quis deleniti quibusdam. Voluptatem tenetur at, minus ipsam iste fuga veniam.
      Beatae ullam ut, sequi maxime repellendus dolores commodi iste labore nisi porro aliquam velit quam distinctio voluptate unde recusandae esse nesciunt, minima facere delectus mollitia? Consequatur nisi amet itaque provident.
      Tempore mollitia nihil odio nisi. Id autem suscipit accusantium, tenetur aspernatur libero alias iusto totam repellat cumque sapiente quae eius, nihil placeat doloremque mollitia corrupti distinctio inventore laborum minima fugit!
      Repellat, alias. Eligendi laborum vel ut maiores repellat quasi sed reiciendis error, atque fuga? Cum ab corrupti tenetur exercitationem at iusto. Impedit optio nisi suscipit reiciendis deleniti perspiciatis, animi eligendi.
      Dolorum ex placeat optio laborum ipsa sequi quasi ducimus voluptatum perspiciatis in laudantium doloribus, accusamus distinctio quisquam, molestiae cupiditate. Ducimus repellat et, illo obcaecati laboriosam vel facilis aperiam assumenda totam.
      Possimus ipsa hic, esse impedit, perferendis quaerat praesentium repellat iusto iure ut ipsam numquam maiores qui blanditiis omnis consectetur. Quia esse iusto sapiente adipisci dolorem omnis consectetur illo officiis obcaecati.
   </p>

<%- include("footer") %>